@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --ff: "Kumbh Sans", sans-serif;
  --dark-cyan: hsl(185, 75%, 39%);
  --deep-gray-blue: hsl(229, 23%, 23%);
  --gray-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --fw-n: 400;
  --fw-b: 700;
  background-color: var(--dark-cyan);
}

body {
  min-height: 100vh;
  color: var(--deep-gray-blue);
  font-family: var(--ff);
  font-weight: var(--fw-b);
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  padding: 1.5rem;
  background-image:
    url(./images/bg-pattern-bottom.svg), url(./images/bg-pattern-top.svg);
  background-position: top 50vh left 50vw, bottom 50vh right 50vw;
  background-repeat: no-repeat;
}

body,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 1rem;
  width: 22rem;
  box-shadow: 0 10px 30px -20px var(--deep-gray-blue);
}

.gray-text {
  color: hsl(227, 10%, 46%);
  font-weight: var(--fw-n);
}

.card__background {
  height: 8.75rem;
  background-image: url(./images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.picture--center {
  border-radius: 50%;
  border: 5px solid white;
  background-color: white;
  margin: 0 auto;
}

.card__picture {
  margin: -3.3125rem 0 1rem;
}

.card__age {
  margin-left: 0.5rem;
}

.card__location {
  font-weight: var(--fw-n);
  font-size: 0.875rem;
  margin: 0.25rem 0 1.5rem;
}

.card__stats {
  border-top: 1px solid hsl(0, 0%, 90%);
  padding: 1.4rem 0;
}

.stat {
  width: min(5.6875rem, 100%);
}

.card__stats .gray-text {
  font-size: 0.6875rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 25rem) {
  body {
    background-size: 38.75rem;
    background-position: top 53vh left 44vw, bottom 59vh right 44vw;
  }
}
